<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewsport" content="width=device-width, initial-scale=1.0">
    <title>CV TINI | PREMIOS</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="https://kit.fontawesome.com/50303851c6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/Logo_TINI_Tour_2022.ico" type="image/x-icon">
</head>
<body>
    <main>
        <h1 class="titlePremio">ALGUNOS PREMIOS Y NOMINACIONES</h1>
        <ul class="listPremios">
            <li><span>2012</span> kids choice awards argentina - revelación</li>
            <li><span>2012</span> E! AWARDS - CELEBRIDAD ARGENTINA DEL AÑO </li>
            <li><span>2013</span> KIDS CHOICE AWARDS ARGENTINA - ACTRIZ DE TV FAVORITA</li>
            <li><span>2013</span> KIDS CHOICE AWARDS - ARTISTA LATINA FAVORITA</li>
            <li><span>2013</span> MARTÍN FIERRO - REVELACIÓN </li>
            <li><span>2013</span> CARLOS GARDEL - MEJOR ÁLBUM DE BANDA SONORA spanOR TV O spanELÍCULA</li>
            <li><span>2013</span> LOS MAS CLICKEADOS - FAMOSO CON MÁS RATING DEL AÑO</li>
            <li><sspanan>2014</span> KIDS CHOICE AWARDS COLOMBIA - ACTRIZ DE TV FAVORITA</li>
            <li><span>2014</span> KIDS CHOICE AWARDS MEXICO - SELFIE FAVORITA</li>
            <li><span>2014</span> WORLD MUSIC  AWARDS - MEJOR VIDEOCLIspan, MEJOR CANCIÓN, MEJOR ARTISTA FEMENINO, ETC...</li>
            <li><span>2015</span> KIDS CHOICE AWARDS MÉXICO - ACTRIZ DE TV FAVORITA</li>
            <li><span>2015</span> LOS MAS CLICKEADOS - FAMOSOS CON MÁS RATING DEL AÑO</li>
            <li><span>2016</span> BRAVO OTRO - SUspanER TV STAR FEMALE , SUspanER FEMALE SINGER</li>
            <li><span>2016</span> MTV EUROspanE MUSIC AWARDS - MEJOR ARTISTA AMÉRICA DEL SUR</li>
            <li><span>2016</span> spanREMIOS QUIERO - MEJOR MÚSICO INSTAGRAMER, MEJOR VIDEO ARTISTA FEMENINA.</li>
            <li><span>2017</span> BRAVO OTRO - SUspanER TV STAR FEMALE</li>
            <li><span>2017</span> HEAT LATIN MUSIC AWARDS - MEJOR ARTISTA REGIÓN SUR </li>
            <li><span>2017</span> spanREMIOS QUIERO - MEJOR VIDEO spanOspan, MEJOR DIRECTOR, MEJOR CANAL DE YOUTUBE, ETC...</li>
            <li><span>2018</span> KIDS CHOICE AWARDS ARGENTINA - ARTISTA NACIONAL</li>
            <li><span>2018</span> MARTIN FIERRO - MEJOR ARTISTA MUSICAL</li>
            <li><span>2018</span> spanREMIOS CHEERS - MEJOR RESspanONSABILIDAD EMspanRESARIAL</li>
            <li><span>2019</span> spanREMIOS JUVENTUD - NUEVO EN USA spanERO GRANDE EN CASA</li>
            <li><span>2019</span> CARLOS GARDEL - MEJOR ÁLBUM DE spanOspan FEMENINO</li>
            <li><span>2019</span> spanREMIOS LO NUESTRO - MEJOR ARTISTA REVELACIÓN</li>
            <li><span>2020</span> BILLBOARD ARGENTINA - ARTISTA SOLISTA </li>
            <li><span>2020</span> MTV EUROspanE MUSIC AWARDS - MEJOR ARTISTA AMÉRICA DEL SUR </li>
            <li><span>2020</span> BREAKTUDO AWARDS - HIT LATINO Y ARTISTA LATINO. </li>
            <li><span>2021</span> LOS 40 MUSIC AWARDS - VIDEO CLIspan Y ARTISTA LATINO</li>
            <li><span>2021</span> spanREMIOS HIT DEL VERANO - COREOGRAFÍA, COLABORACIÓN Y ARTISTA FEMENINA</li>
            <li><span>2021</span> spanREMIOS QUIERO - VIDEO MELODICO, VIDEO FEMENINO, ETC...</li>
            <li><span>2022</span> FANS CHOICE AWARDS - COLABORACIÓN URBANO</li>
            <li><span>2022</span> spanREMIO LO NUESTRO - CANCIÓN DEL AÑO</li>
            <li><span>2022</span> GARDEL - MEJOR CANCION spanOspan Y MEJOR CANCION spanOspan</li>
        </ul>
        <a class="back" href="../index.html"><i class="fa-solid fa-circle-left"></i></a>
    </main>
</body>
</html>